﻿@model List<PassportApplicationCommon.Models.BreederDoc>

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Breeder Documents Required</div>
        @using (@Html.BeginForm())
        {
            @Html.Hidden("docsvariable")
            <div class="grayleftborder padded spaceleftx2 spacetopx2">
                @if (Model.Count == 0)
                {
                    <div class="info">Select an application type to get required documents.</div>
                }
                else
                { 
                    for (var i = 0; i < Model.Count; i++)
                    { 
                        <div class="breederdocdiv">
                            <div class="spacedown inline">@Html.CheckBoxFor(m => Model[i].IsVerified, new { @class = Model[i].IsRequired == 1 ? "required" : "notrequired" })</div>
                            @Html.Hidden("DocumentId", Model[i].DocumentId, new { @class = "docid" })
                            <div class="inline sub">@Model[i].DocumentName</div>
                        </div>
                    }

                    <div id="validatebreederdocs" class="validatemsg">Please ensure all required documents are checked and ticked</div>
                }
            </div>
        }
    </div>
</div>