﻿@model PassportApplicationCommon.Models.ContactDetails

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Contact Details</div>

        <form autocomplete="off">
            <div class="grayleftborder">
                <table>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.ContactPhoneNumber)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.ContactPhoneNumber, new { autocomplete = "false" })
                            @Html.ValidationMessageFor(model => Model.ContactPhoneNumber)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.EmailAddress)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.EmailAddress, new { autocomplete = "false" })
                            @Html.ValidationMessageFor(model => Model.EmailAddress)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.MobilePhoneNumber)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.MobilePhoneNumber, new { autocomplete = "false" })
                            @Html.ValidationMessageFor(model => Model.MobilePhoneNumber)
                        </td>
                    </tr>
                    @Html.EditorFor(m => Model.Address)
                </table>
            </div>
        </form>
    </div>
</div>