﻿@model PassportApplicationCommon.Models.Locality

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Locality Information</div>
         <form autocomplete="off">
            <div class="grayleftborder">
                <table>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.PlaceOfBirth)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.PlaceOfBirth, new { autocomplete = "false" })
                            @Html.ValidationMessageFor(model => Model.PlaceOfBirth)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.Nationality)
                        </th>
                        <td>
                            @Html.DropDownListFor(model => Model.Nationality, (SelectList)ViewData["Countries"], string.Empty, new { @class = "chosen-select", disabled = true })
                            @Html.ValidationMessageFor(model => Model.Nationality)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.StateOfOrigin)
                        </th>
                        <td>
                            @Html.DropDownListFor(model => Model.StateOfOrigin, (SelectList)ViewData["States"], string.Empty, new { @class = "chosen-select" })
                            @Html.ValidationMessageFor(model => Model.StateOfOrigin)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.HomeTown)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.HomeTown, new { autocomplete = "false" })
                            @Html.ValidationMessageFor(model => Model.HomeTown)
                        </td>
                    </tr>    
                </table>
            </div>
        </form>
    </div>
</div>