﻿@model PassportApplicationCommon.Models.NextOfKin

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Next of Kin Information</div>

        @using (@Html.BeginForm())
        {
            <div class="grayleftborder spaceleft">
                <table>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.NextOfKinName)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.NextOfKinName)
                            @Html.ValidationMessageFor(model => Model.NextOfKinName)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.RelationshipWithNextOfKin)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.RelationshipWithNextOfKin)
                            @Html.ValidationMessageFor(model => Model.RelationshipWithNextOfKin)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.ContactNumberOfNextOfKin)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.ContactNumberOfNextOfKin)
                            @Html.ValidationMessageFor(model => Model.ContactNumberOfNextOfKin)
                        </td>
                    </tr>
                </table>

                @Html.EditorFor(m => Model.Address)
            </div>
        }
    </div>
</div>