﻿@model PassportApplicationCommon.Models.PassportInformation

@using (@Html.BeginForm())
{
    <div class="spaced">
        <div class="leftside shadow">
            <div class="divheader">Passport Information</div>
            <div class="grayleftborder">
                <table>
                    <tr>
                        <th>
                            Document Type
                        </th>
                        <td>
                            @Html.DropDownListFor(model => model.DocumentType, (SelectList)ViewData["DocumentTypes"], string.Empty, new { @class = "chosen-select" })
                            @Html.ValidationMessageFor(model => model.DocumentType)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="divheader">Application Information</div>
            <div class="grayleftborder">
                <table>
                <tr>
                    <th>
                        Application Type
                    </th>
                    <td>
                        @Html.DropDownListFor(model => model.ApplicationType, (SelectList)ViewData["ApplicationReasons"], string.Empty, new { @id = "ddlApplicationReason", @class = "chosen-select" })
                        @Html.ValidationMessageFor(model => model.ApplicationType)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.PreviousPassportNumber)
                    </th>
                    <td>
                        @Html.TextBoxFor(model => model.PreviousPassportNumber, new { @id = "textBoxPrevious", disabled = true })
                        @Html.ValidationMessageFor(model => model.PreviousPassportNumber)
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
}
