﻿@model PassportApplicationCommon.Models.PaymentInformation

<div class="divheader">Payment Checks</div>

@{if (Model != null)
    {
        <div class="grayleftborder">
            <table id="verifyPaymentChecksDiv">
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.PaymentExist)
                    </th>
                    <td>
                        @Html.CheckBox("FoundPaymentCheckbox", Model.PaymentExist, new { @class = "disabled", @readonly = "readonly", onclick = "return false" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.FirstnameMatch)
                    </th>
                    <td>
                        @Html.CheckBox("FoundFirstnameCheckbox", Model.FirstnameMatch, new { @class = "disabled", @readonly = "readonly", onclick = "return false" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.SurnameMatch)
                    </th>
                    <td>
                        @Html.CheckBox("FoundSurnameCheckbox", Model.SurnameMatch, new { @class = "disabled", @readonly = "readonly", onclick = "return false" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.DobMatch)
                    </th>
                    <td>
                        @Html.CheckBox("FoundDOBCheckbox", Model.DobMatch, new { @class = "disabled", @readonly = "readonly", onclick = "return false" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.GenderMatch)
                    </th>
                    <td>
                        @Html.CheckBox("FoundGendereCheckbox", Model.GenderMatch, new { @class = "disabled", @readonly = "readonly", onclick = "return false" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.PaymentMatch)
                    </th>
                    <td>
                        @Html.CheckBox("MatchPaymentCheckbox", Model.PaymentMatch, new { @class = "disabled", @readonly = "readonly", onclick = "return false" })
                    </td>
                </tr>

            </table>
        </div>
    
        <div class="divheader">Payment Pricing</div>

        <div class="grayleftborder">
            <table>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.CalculatedBasePrice)
                    </th>
                    <td>
                        <div class="paymentamount" id="amountpaidtxt">
                            @Html.DisplayFor(model => Model.CalculatedBasePrice)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.CalculatedAdditionalPrice)
                    </th>
                    <td>
                        <div class="paymentamount">
                            @Html.DisplayFor(model => Model.CalculatedAdditionalPrice)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.PaymentTotalPrice)
                    </th>
                    <td>
                        <div class="paymentamount" id="amountexpectedtxt">
                            @Html.DisplayFor(model => Model.PaymentTotalPrice)
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    }
}
