﻿@model PassportApplicationCommon.Models.PaymentInformation

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Enroll Payment Information</div>

         <form autocomplete="off">
            <div class="grayleftborder">
                <table>
                    <tr>
                        <th>
                            Application ID
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.ApplicationId, new { @id = "ApplicationID" })
                            @Html.ValidationMessageFor(model => Model.ApplicationId)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.ReferenceNumber)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.ReferenceNumber, new { @id = "ReferenceNo", onblur = "RetreiveApplicationInformation();" })
                            @Html.ValidationMessageFor(model => Model.ReferenceNumber)
                        </td>
                    </tr>
                </table>
            </div>

            <div class="divheader">Payment Changes</div>

            <div class="grayleftborder">
                <table>
                    <tr>
                        <th>
                            First Name
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.Firstname)
                            @Html.ValidationMessageFor(model => Model.Firstname)
                            @if (Model.FirstnameCoefficient != 1 && Model.FirstnameCoefficient != 0)
                            {
                                <div class="correction">[Note] Firstname in Payment: @Model.PaymentFirstname</div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Surname
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.Surname)
                            @Html.ValidationMessageFor(model => Model.Surname)
                            @if (Model.SurnameCoefficient != 1 && Model.FirstnameCoefficient != 0)
                            {
                                <div class="correction">[Note] Surname in Payment: @Model.PaymentSurname</div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>
                           Date Of Birth
                        </th>
                        <td>
                            @Html.TextBoxFor(model => Model.DateOfBirth, new { @Value = Model.DateOfBirth == DateTime.MinValue ? string.Empty : Model.DateOfBirth.ToString("dd/MM/yyyy"), @class = "jdpicker", style = "width:100px" })
                            @Html.ValidationMessageFor(model => Model.DateOfBirth)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.Gender)
                        </th>
                        <td>
                            @Html.DropDownListFor(model => Model.Gender, (SelectList)ViewData["GenderList"], string.Empty, new { @class = "chosen-select" })
                            @Html.ValidationMessageFor(model => Model.Gender)
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div class="genbutton right spacetopm" id="ValidatePayment">Validate Payment</div>
                            <div class="right hidden validatemsg" id="validationMsg">Please ensure all checks are ticked before moving forward</div>
                            <div id="validatePaymentload" class="loadingdiv right">
                                <div class="smallmodal">Validating</div>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="PaymentValidationDiv">
                @Html.Partial("_PaymentProcess", Model)
            </div>
        </form>
    </div>
</div>