﻿@model PassportApplicationCommon.Models.PersonalFeatures

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Personal Features</div>

        @using (@Html.BeginForm())
        {
            <div class="grayleftborder">
                <table>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.ColourOfEyes)
                        </th>
                        <td>
                            @Html.DropDownListFor(model => Model.ColourOfEyes, (SelectList)ViewData["EyeColors"], string.Empty, new { @class = "chosen-select" })
                            @Html.ValidationMessageFor(model => Model.ColourOfEyes)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.ColourOfHair)
                        </th>
                        <td>
                            @Html.DropDownListFor(model => Model.ColourOfHair, (SelectList)ViewData["HairColors"], string.Empty, new { @class = "chosen-select" })
                            @Html.ValidationMessageFor(model => Model.ColourOfHair)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.HeightInCm)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.HeightInCm, new { autocomplete = "false" })
                            @Html.ValidationMessageFor(model => Model.HeightInCm)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.OtherInformation)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.OtherInformation, new { autocomplete = "false" })
                            @Html.ValidationMessageFor(model => Model.OtherInformation)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.SpecialFeatures)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.SpecialFeatures, new { autocomplete = "false" })
                            @Html.ValidationMessageFor(model => Model.SpecialFeatures)
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>