﻿@model PassportApplicationCommon.Models.PersonalInformation

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Enroll Personal Information</div>
        @using (@Html.BeginForm())
        {
            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>
            <div class="grayleftborder">
                <table>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.Surname)
                    </th>
                    <td>
                        @Html.TextBoxFor(model => Model.Surname, new { @class = "disabled", id = "pifirstname", @readonly = "readonly", autocomplete = "false" })
                        @Html.ValidationMessageFor(model => Model.Surname)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.Firstname)
                    </th>
                    <td>
                        @Html.TextBoxFor(model => Model.Firstname, new { @class = "disabled", id = "pisurname", @readonly = "readonly", autocomplete="false" })
                        @Html.ValidationMessageFor(model => Model.Firstname)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.Middlename)
                    </th>
                    <td>
                        @Html.EditorFor(model => Model.Middlename, new { autocomplete = "false" })
                        @Html.ValidationMessageFor(model => Model.Middlename)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.Gender)
                    </th>
                    <td>
                        @Html.TextBoxFor(model => Model.Gender, new { @Value = EPMSEnrollmentApplication.Cache.PassportCache.LookupData.GetGenderString(Model.Gender), id = "pigender", @class = "disabled", @readonly = "readonly", autocomplete = "false" })
                        @Html.ValidationMessageFor(model => Model.Gender)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.DateOfBirth)
                    </th>
                    <td> 
                        @Html.TextBoxFor(model => Model.DateOfBirth, new { @Value = Model.DateOfBirth == DateTime.MinValue ? string.Empty : Model.DateOfBirth.ToString("dd/MM/yyyy"), id = "pidob", @class = "disabled", @readonly = "readonly", autocomplete = "false" })
                        @Html.ValidationMessageFor(model => Model.DateOfBirth)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.IdentityNumber)
                    </th>
                    <td>
                        @Html.EditorFor(model => Model.IdentityNumber, new { autocomplete = "false" })
                        @Html.ValidationMessageFor(model => Model.IdentityNumber)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.MaritialStatus)
                    </th>
                    <td>
                        @Html.DropDownListFor(model => Model.MaritialStatus, (SelectList)ViewData["MaritialStatusList"], string.Empty, new { @class = "chosen-select" })
                        @Html.ValidationMessageFor(model => Model.MaritialStatus)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.MaidenName)
                    </th>
                    <td>
                        @Html.EditorFor(model => Model.MaidenName, new { autocomplete = "false" })
                        @Html.ValidationMessageFor(model => Model.MaidenName)
                    </td>
                </tr>
                @*  <tr>
                        <td>
                            @Html.LabelFor(model => Model.PreviousPassportNumber)
                        </td>
                        <td>
                            @Html.EditorFor(model => Model.PreviousPassportNumber)
                            @Html.ValidationMessageFor(model => Model.PreviousPassportNumber)
                        </td>
                    </tr>*@
            </table>
            </div>
        }
    </div>
</div>