﻿@model PassportApplicationCommon.Models.PassportApplication

<div class="spaced spacedownx2">
    <div class="leftside shadow" style="background: white;">
        <div class="divheader" style="background-color: #B72235 !important">Screening Response</div>
        <div class="grayleftborder" style="padding: 10px;">
            <div class="rejectionreasonlabel">Rejection Reason:</div>
            <div class="rejectionreasontext">@Model.RejectionReasonHeader</div>

            <div class="spacetop rejectionreasonlabel">Details:</div>
            <div class="rejectionreasontext">@Model.RejectionReasonDetails</div>
        </div>
    </div>
</div>