﻿@model EPMSEnrollmentApplication.Models.PassportSearch

<div class="spaced lightgray">
    <div class="leftside shadow" id="searchdiv">
        <div class="divheader">Search For Application</div>
        @using (@Html.BeginForm())
        {
            <div class="grayleftborder">
                <table>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.ApplicationId)
                        </th>
                        <td>
                            @Html.TextBoxFor(model => Model.ApplicationId, new { placeholder = "Enter Id of application" })
                            @Html.ValidationMessageFor(model => Model.ApplicationId)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.ReferenceNum)
                        </th>
                        <td>
                            @Html.TextBoxFor(model => Model.ReferenceNum, new { placeholder = "Enter reference number of application" })
                            @Html.ValidationMessageFor(model => Model.ReferenceNum)
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div class="genbutton right" id="Searchbtn">Search</div>
                            <div id="searchmsg" class="searchmsg left hidden"></div>
                            <div id="screeningsearchload" class="loadingdiv right">
                                <div class="smallmodal">Searching</div>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>