﻿@model List<PassportApplicationCommon.Models.PassportApplication>
<div class="spaced lightgray">
    <div class="leftside shadow">
        <div class="table shadow">
            <div class="tablediv">
                <div class="tableheader">
                    <div>Firstname</div>
                    <div>Surname</div>
                    <div>DOB</div>
                    <div>SEX</div>
                    <div>FORM NO</div>
                    <div></div>
                </div>
                @for (var i = 0; i < Model.Count; i++)
                { 
                    using (@Html.BeginForm())
                    {
                        @Html.Hidden("ApplicationId", Model[i].ApplicationId)
                        @Html.Hidden("ReferenceNum", Model[i].Payment.ReferenceNumber)
                        <div class="spaceright @((i+1) % 2 == 0 ? "even" : "")">
                            <div class="uppercasefirst">@Model[i].PersonalInformation.Firstname.ToLower()</div>
                            <div class="uppercasefirst">@Model[i].PersonalInformation.Surname.ToLower()</div>
                            <div>@Model[i].PersonalInformation.DateOfBirth.ToString("dd/MMM/yyyy")</div>
                            <div>@(Model[i].PersonalInformation.Gender == "M" ? "Male" : "Female")</div>
                            <div>@Model[i].FormNo</div>
                            <div class="spaceright">
                                <div class="genbutton openenrollment">Open Enrollment</div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
