﻿@model PassportApplicationCommon.Models.PassportApplication

<link rel="stylesheet" type="text/css" href="/content/page.css" />
<link rel="stylesheet" type="text/css" href="/content/inputs.css" />
<link rel="stylesheet" type="text/css" href="/content/screening.css">

<div id="passportdetails" class="formdiv spacedownm">@(Html.Partial("../Screening/_PassportDetailsScreening", Model.PassportInformation))</div>
<div id="paymentinfo" class="formdiv spacedownm">@(Html.Partial("../Screening/_PaymentDetailScreening", Model.Payment))</div>
<div id="personaldetails" class="formdiv spacedownm">@(Html.Partial("../Screening/_PersonalDetailsScreening", Model.PersonalInformation))</div>
<div id="contactdetails" class="formdiv spacedownm">@(Html.Partial("../Screening/_ContactDetailsScreening", Model.ContactDetails))</div>
<div id="locality" class="formdiv spacedownm">@(Html.Partial("../Screening/_LocalityScreening", Model.Locality))</div>
<div id="personalfeatures" class="formdiv spacedownm">@(Html.Partial("../Screening/_PersonalFeaturesScreening", Model.PersonalFeatures))</div>
<div id="nokinfo" class="formdiv spacedownm">@(Html.Partial("../Screening/_NextOfKinDetailsScreening", Model.NextOfKin))</div>
<div id="breederdocs" class="formdiv spacedownm">@(Html.Partial("../Screening/_BreederDocuments", Model.BreederDocs))</div>
