﻿@if (ViewBag.NewEnrollmentMenuSubOptions == 1)
{
    <div class="shadow spacedown">
        <div><a href="/Enrollment/RefreshEnrollment" class="option shadow">Fresh Enrollment</a></div>
        <div class="divheader2 padded">Enrollment Steps</div>
        <div class="linkoption active spacetopm5">Enrollment</div>
        <div class="linkoptionsubheader active" id="passportdetailslink">Passport Information</div>
        <div class="linkoptionsubheader" id="breederdocumentslink">Breeder Documents</div>
        <div class="linkoptionsubheader" id="paymentinfolink">Payment</div>
        <div class="linkoptionsubheader" id="personaldetailslink">Personal Information</div>
        <div class="linkoptionsubheader" id="contactdetailslink">Contact Details</div>
        <div class="linkoptionsubheader" id="localitylink">Locality</div>
        <div class="linkoptionsubheader" id="personalfeatureslink">Personal Features</div>
        <div class="linkoptionsubheader" id="nokinfolink">Next Of Kin</div>
    </div>
}
