﻿@if (ViewBag.ShowNewEnrollmentOption == 1)
{
    <div><a href="/Enroll" class="option shadow">New Enrollment</a></div>
}
@if (ViewBag.ShowEditEnrollmentOption == 1)
{
    <div><a href="/Search" class="option shadow">Continue Uncompleted Enrollment</a></div>
}

@if (ViewBag.ShowCompletedEnrollmentOption == 1)
{
    <div><a href="/SearchCompleted" class="option shadow">View Completed Enrollment</a></div>
}

@if (ViewBag.ShowNewEnrollmentOption == 1)
{
    <div><a href="/ViewScreeningResponses" class="option shadow">Screening Responses (@(ViewBag.ScreeningResponses == null ? 0 : ViewBag.ScreeningResponses))</a></div>
}