﻿@model PassportApplicationCommon.Models.PassportApplication

<link rel="stylesheet" type="text/css" href="/content/page.css" />
<link rel="stylesheet" type="text/css" href="/content/enrollment.css" />
<link rel="stylesheet" type="text/css" href="/content/inputs.css" />
<link rel="stylesheet" type="text/css" href="/content/select2/select2.css" />
<link rel="stylesheet" type="text/css" href="/content/jquery-ui.css">

<div id="EnrolementDiv">
    @Html.Hidden("EnrollmentFormNumber", Model.FormNo)
    @Html.Hidden("EnrollmentFileNumber", Model.FileNo)

    <div id="passportdetails" class="formdiv hidden">@(Html.Partial("_PassportDetails", Model.PassportInformation))</div>
    <div id="breederdocuments" class="formdiv hidden">@(Html.Partial("_BreederDocuments", Model.BreederDocs))</div>
    <div id="paymentinfo" class="formdiv hidden">@(Html.Partial("_PaymentDetail", Model.Payment))</div>
    <div id="personaldetails" class="formdiv hidden">@(Html.Partial("_PersonalDetails", Model.PersonalInformation))</div>
    <div id="contactdetails" class="formdiv hidden">@(Html.Partial("_ContactDetails", Model.ContactDetails))</div>
    <div id="locality" class="formdiv hidden">@(Html.Partial("_Locality", Model.Locality))</div>
    <div id="personalfeatures" class="formdiv hidden">@(Html.Partial("_PersonalFeatures", Model.PersonalFeatures))</div>
    <div id="nokinfo" class="formdiv hidden">@(Html.Partial("_NextOfKinDetails", Model.NextOfKin))</div>


    <div class="buttons hidden">
        <div class="prevbtn genbutton left inactivebtn">Prev</div>
        <div class="nextbtn genbutton right">Next</div>
        <div class="submitbtn genbutton right hidden">Submit Application</div>
        <div id="saveformload" class="loadingdiv right">
            <div class="smallmodal">Saving</div>
        </div>
        <div class="clear"></div>
    </div>

    <div id="PopupMsg" class="PopupWindow">
        <div class="closebtn">X</div>
        <div id="popupmsgInner" class="popupinfoinner bigfirstletter"></div>
    </div>
</div>

<script src="/scripts/select2.min.js" type="text/javascript"></script>
<script src="/scripts/jquery-ui.js" type="text/javascript"></script>
<script src="/scripts/jquery.validate.js" type="text/javascript"></script>
<script src="/scripts/jquery.validate-vsdoc.js" type="text/javascript"></script>
<script src="/scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="/scripts/AreYouSure.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.lightbox_me.js"></script>
<script src="/scripts/enrollment.js" type="text/javascript"></script>

@if (TempData["ShowCompletedMsg"] != null)
{
    <script type="text/javascript">
        $(function () {
            var msg = "<div>Application with the following details has been submitted:</div><div class='alignleft'>";
            msg += "<div class='spacetop'><span class='lefttext'>Application ID:</span> <b>@TempData["AppNo"]</b></div>";
            msg += "<div class='spacetopm5'><span class='lefttext'>File Number:</span> <b>@TempData["FileNo"]</b></div>";
            msg += "<div class='spacetopm5'><span class='lefttext'>Firstname:</span> <b>@TempData["Firstname"]</b></div>";
            msg += "<div class='spacetopm5'><span class='lefttext'>Surname:</span> <b>@TempData["Surname"]</b></div></div>";
            $('#popupmsgInner').html(msg);
            $('#PopupMsg').lightbox_me({
                centered: true
            });
        })
    </script>
}