﻿@model EPMSEnrollmentApplication.Models.PassportSearch
<link rel="stylesheet" type="text/css" href="/content/page.css" />
<link rel="stylesheet" type="text/css" href="/content/enrollment.css" />
<link rel="stylesheet" type="text/css" href="/content/inputs.css" />
<link rel="stylesheet" type="text/css" href="/content/select2/select2.css" />

@Html.Hidden("IsCompleted", Model.CompletedType)

<div class="spaced lightgray">
    <div class="leftside shadow" id="searchdiv">
        <div class="divheader">Search For Application</div>
        <div class="spacetopx2 spacedownx2">
            <div class="left textlabel">Select Form Number</div>
            <div class="left textvalue">@Html.DropDownListFor(model => Model.SelectedEnrollment, (SelectList)ViewData["Enrollments"], string.Empty, new { @class = "chosen-select", id = "selectedEnrollment" })</div>
            <div id="selectload" class="loadingdiv left">
                <div class="smallmodal"></div>
            </div>
            <div class="clear"></div>
            <div id="selectmsg" class="searchmsg2 left hidden"></div>
        </div>
    </div>
</div>
<div class="hidden" id="searchresultsdiv"></div>

<script src="/scripts/jquery.validate.js" type="text/javascript"></script>
<script src="/scripts/jquery.validate-vsdoc.js" type="text/javascript"></script>
<script src="/scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="/scripts/select2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.lightbox_me.js"></script>
<script src="/scripts/searchenrollment.js" type="text/javascript"></script>