﻿@model EPMSEnrollmentApplication.Models.PassportSearch
<link rel="stylesheet" type="text/css" href="/content/page.css" />
<link rel="stylesheet" type="text/css" href="/content/enrollment.css" />
<link rel="stylesheet" type="text/css" href="/content/inputs.css" />

@Html.Partial("_SearchEnrollment")

<div class="hidden">
    <div class="spaced lightgray">
        <div class="leftside shadow" id="searchresultsdiv">
            <div class="divheader">Search For Application</div>
        </div>
    </div>
</div>

<script src="/scripts/jquery.validate.js" type="text/javascript"></script>
<script src="/scripts/jquery.validate-vsdoc.js" type="text/javascript"></script>
<script src="/scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.lightbox_me.js"></script>
<script src="/scripts/searchenrollment.js" type="text/javascript"></script>