﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment</title>
    <link rel="stylesheet" type="text/css" href="/Content/misc.css" />
    <link rel="stylesheet" type="text/css" href="/Content/masterpage.css" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/hoverintent.js"></script>   
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="content-wrapper">
                <div class="imgwrapper1">
                    <div class="coatofarms"></div>
                </div>
                <div class="imgwrapper2">
                    <div class="title">Electronic Passport Enrollment System</div>
                </div>
                @if (User.Identity.IsAuthenticated && Session["User"] != null)
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </header>
        <section class="content">
            <div class="content-body">
                <div id="content" class="table">
                    <div class="menudiv">
                        <div><a href="/" class="option shadow">Home</a></div>
                        @Html.Partial("Options")                      
                    </div>

                    <div class="middle">
                        @RenderBody()
                    </div>

                    <div class="additionalinfo hidden spaced">
                        <div class="shadow">
                            @Html.Partial("FormInfo")
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footertext">Iris Smart Technologies Limited - 2015</div>
        </footer>
    </div>
</body>

@RenderSection("scripts", required: false)
</html>

<script src="~/Scripts/main.js"></script>
