﻿<div class="divheader">Form Information</div>
<div class="spaceleft grayleftborder spacetop " id="noforminfodiv">The current form is not saved.</div>
<div id="forminfodiv" class="hidden grayleftborder">
    <div class="padded">
        <div class="labeltxt left">Form No:</div>
        <div id="formno" class="labelval left blue"></div>
        <div class="clear"></div>
    </div>
    <div class="padded">
        <div class="labeltxt left">File No:</div>
        <div id="fileno" class="labelval left blue"></div>
        <div class="clear"></div>
    </div>
</div>

<div class="divheader">Additional Information</div>
<div id="additioninfodiv" class="grayleftborder padded">
    Helpful content for when there is no specific content to show
</div>
 