﻿@model PassportApplicationCommon.Models.Address

    <table>
        <tr>
            <th>
                @Html.LabelFor(model => model.Country)
            </th>
            <td>
                @Html.DropDownListFor(model => Model.Country, (SelectList)ViewData["Countries"], string.Empty, new { @class = "chosen-select countrydropdown" })
                @Html.ValidationMessageFor(model => Model.Country)
            </td>
        </tr>
        <tr class="nigerianstates">
            <th>
                @Html.LabelFor(model => model.State)
            </th>
            <td>
                @Html.DropDownListFor(model => Model.State, (SelectList)ViewData["States"], string.Empty, new { @class = "chosen-select statesdropdown" })
                <div class="field-validation-error stateserr">State is required</div>
            </td>
        </tr>
        <tr class="nonnigerianstates hidden">
            <th>
                @Html.LabelFor(model => model.StateForeign)
            </th>
            <td>
                @Html.TextBoxFor(model => model.StateForeign, null, new { autocomplete = "false", @class = "statestext" })
                <div class="field-validation-error stateserr">State is required</div>
            </td>
        </tr>
        <tr class="nigerianstates">
            <th>
                @Html.LabelFor(model => model.Lga)
            </th>
            <td>
                @Html.EditorFor(model => model.Lga, new { autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.Lga)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.City)
            </th>
            <td>
                @Html.EditorFor(model => model.City, new { autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.City)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.District)
            </th>
            <td>
                @Html.EditorFor(model => model.District, new { autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.District)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.AddressLine1)
            </th>
            <td>
                @Html.TextBoxFor(model => model.AddressLine1, new { autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.AddressLine1)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.AddressLine2)
            </th>
            <td>
                @Html.EditorFor(model => model.AddressLine2, new { autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.AddressLine2)
            </td>
        </tr>       
        <tr class="nonnigerianstates hidden">
            <th>
                @Html.LabelFor(model => model.PostalCode)
            </th>
            <td>
                @Html.EditorFor(model => model.PostalCode, new { autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.PostalCode)
            </td>
        </tr>
    </table>