﻿@model List<PassportApplicationCommon.Models.BreederDoc>
<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Breeder Documents Required</div>
        <div class="grayleftborder padded spaceleftx2 spacetopx2">
            @if (Model.Count == 0)
            {
                <div class="spacedown">Select a passport application type</div>
            }
            else
            {
                for (var i = 0; i < Model.Count; i++)
                {
                    <div>
                        <div class="spacedown inline">@Html.CheckBoxFor(m => Model[i].IsVerified, new { disabled = "disabled" })</div>
                        @Html.Hidden("DocumentId", Model[i].DocumentId, new { @class = "docid" })
                        <div class="inline sub">@Model[i].DocumentName</div>
                    </div>
                }
            }
        </div>
    </div>
</div>
