﻿@model PassportApplicationCommon.Models.ContactDetails

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Contact Information</div>

        <div class="grayleftborder">
            <table>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.ContactPhoneNumber)
                    </th>
                    <td>
                        <div class="labeltxt">@(string.IsNullOrEmpty(Model.ContactPhoneNumber) ? "--" : Model.ContactPhoneNumber)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.EmailAddress)
                    </th>
                    <td>
                        <div class="labeltxt">@(string.IsNullOrEmpty(Model.EmailAddress) ? "--" : Model.EmailAddress)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.MobilePhoneNumber)
                    </th>
                    <td>
                        <div class="labeltxt">@(string.IsNullOrEmpty(Model.MobilePhoneNumber) ? "--" : Model.MobilePhoneNumber)</div>
                    </td>
                </tr>
            </table>
            @Html.Partial("../Screening/_ScreeningAddress", Model.Address)
        </div>
    </div>
</div>