﻿@using PassportApplicationCommon.Models
@model List<Passport>

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Historic Passports</div>
        <div class="grayleftborder paddednotop spaceleftx2 whitebg">
        @if (Model == null || Model.Count == 0)
        {
            <div class="nomsg">No history available for this passport application</div>
        }
        else
        { 
            <table>
                <tr>
                    <td>
                        The first document is the one that was searched for. <br />The other passports belonging to this entity is arranged by issue date.
                    </td>
                </tr>
                <tr>
                    <td class="passportlist">
                        @Html.Partial("_PassportCompareheaders")
                        @foreach (var pPort in Model)
                        {
                            @Html.Partial("_PassportCompareColumn", pPort)
                        }
                    </td>
                </tr>
            </table>
        }
        </div>
    </div>
</div>
