﻿@model PassportApplicationCommon.Models.Locality

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Locality</div>
        <div class="grayleftborder">
            <table>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.PlaceOfBirth)
                    </th>
                    <td>
                        <div class="labeltxt capitalize">@Model.PlaceOfBirth.ToLower()</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.Nationality)
                    </th>
                    <td>
                        <div class="labeltxt capitalize">@Model.NationalityName.ToLower()</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.StateOfOrigin)
                    </th>
                    <td>
                        <div class="labeltxt capitalize">@Model.StateOfOrigin.ToLower()</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.HomeTown)
                    </th>
                    <td>
                        <div class="labeltxt capitalize">@Model.HomeTown.ToLower()</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>