﻿@model PassportApplicationCommon.Models.NextOfKin

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Next of Kin Information</div>

        <div class="grayleftborder spaceleft">
            <table>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.NextOfKinName)
                    </th>
                    <td>
                        <div class="labeltxt capitalize">@Model.NextOfKinName.ToLower()</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.RelationshipWithNextOfKin)
                    </th>
                    <td>
                        <div class="labeltxt capitalize">@Model.RelationshipWithNextOfKin.ToLower()</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.ContactNumberOfNextOfKin)
                    </th>
                    <td>
                        <div class="labeltxt">@Model.ContactNumberOfNextOfKin</div>
                    </td>
                </tr>
            </table>

            @Html.Partial("../Screening/_ScreeningAddress", Model.Address)
        </div>
    </div>
</div>