﻿@model PassportApplicationCommon.Models.Passport

    <table class="CompareList">                                
        <tr>                         
            <td>
                <b>@Model.DocNo</b>
            </td>
        </tr>      
        <tr>                                    
            <td>
                @if (@Model.DocType == "DIPLOMATIC PASSPORT")
                {
                    <span class="gray stagecode">@Model.DocType</span>
                }
                else if (@Model.DocType == "OFFICIAL PASSPORT")
                {
                    <span class="maroon stagecode">@Model.DocType</span>
                }
                else
                {
                    <span class="blue stagecode">@Model.DocType</span>
                }
                
            </td>
        </tr>                
        <tr>                          
            <td>
                @Model.IssueDate.ToString("dd/MM/yyyy")
            </td>
        </tr>
        <tr>
            <td style="height:250px;">
                <img src="@Url.Action("PassportImage", "Screening", new { passportNo = Model.DocNo, isFaceImage = true })" width="100%" height="auto" />        
                @*<img src="~/Content/Images/DummyData/Face.JPG" width="100%" height="auto"/>*@
                <div class="ppimg" style="background-image: url()"
            </td>
        </tr>
        <tr>
            <td style="height:40px; line-height: 40px;">           
                <img src="@Url.Action("PassportImage", "Screening", new { passportNo = Model.DocNo, isFaceImage = false })" width="100%" , height="auto" />                      
                @*<img src="~/Content/Images/DummyData/Signature.JPG" width="100%" height="auto" />*@
            </td>
        </tr>                          
        <tr>                            
            <td>
                @Model.ExpiryDate.ToString("dd/MM/yyyy")
            </td>
        </tr>   
        <tr>                            
            <td>
                @Model.IssuePlace
            </td>
        </tr>
   
        <tr>                         
            <td>
                @Model.Surname        
            </td>
        </tr>
        <tr>                            
            <td>
                @Model.FirstName        
            </td>
        </tr>
        <tr>                            
            <td>
                @Model.OtherNames&nbsp       
            </td>
        </tr>
        <tr>                            
            <td>
                @Model.GenderDesc        
            </td>
        </tr>
        <tr>                            
            <td>                                
                @Model.BirthDate.ToString("dd/MM/yyyy")
            </td>
        </tr>
         <tr>                            
            <td>
                @if (Model.StageCode == "EM5000" || Model.StageCode == "PM2000")
                {
                    <span class="green stagecode">@Model.StageDescription</span>
                }
                else
                {
                    <span class="red stagecode">@Model.StageDescription</span>
                }                              
            </td>
        </tr>
        <tr>
            <td>
                @*Html.ActionLink("Print", "PassportValidation", "Report", new { docNo =@Model.DocNo, surname = @Model.Surname, firstName = @Model.FirstName, gender = @Model.Gender, birthDate = @Model.BirthDate, stageDescription = @Model.StageDescription, historyID = @Model.HistoryID, otherNames = @Model.OtherNames, issueDate = @Model.IssueDate, expiryDate = @Model.ExpiryDate, docType = @Model.DocType, issuePlace = @Model.IssuePlace }, new { target = "_blank" })*@        
            </td>
        </tr>
    </table>
