﻿<table class="rightspace passportlistheaders">
    <tr>
        <td>
            Passport Number
        </td>
    </tr>
    <tr>
        <td>
            Document Type
        </td>
    </tr>
    <tr>
        <td>
            Date of Issue
        </td>
    </tr>
    <tr>
        <td style="height:250px; line-height: 250px;">
            Photo
        </td>
    </tr>
    <tr>
        <td style="height:40px; line-height: 40px;">
            Signature
        </td>
    </tr>
    <tr>
        <td>
            Expiry Date
        </td>
    </tr>
    <tr>
        <td>
            Issue Place
        </td>
    </tr>
    <tr>
        <td>
            Surname
        </td>
    </tr>
    <tr>
        <td>
            First Name
        </td>
    </tr>
    <tr>
        <td>
            Other Names
        </td>
    </tr>
    <tr>
        <td>
            Gender
        </td>
    </tr>
    <tr>
        <td>
            Date of Birth
        </td>
    </tr>
    <tr>
        <td style="height:40px">
            Document Status
        </td>
    </tr>
    <tr>
        <td>
            &nbsp
        </td>
    </tr>
</table>
