﻿@model PassportApplicationCommon.Models.PassportInformation

@using (@Html.BeginForm())
{
    <div class="spaced">
        <div class="leftside shadow">
            <div class="divheader">Application Information</div>
            <div class="grayleftborder">
                <table>
                    <tr>
                        <th>
                            Document Type
                        </th>
                        <td>
                            <div class="labeltxt">@Model.DocumentTypeString</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Application Type
                        </th>
                        <td>
                            <div class="labeltxt">@Model.ApplicationTypeString</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.PreviousPassportNumber)
                        </th>
                        <td>
                            <div class="labeltxt">@(string.IsNullOrEmpty(Model.PreviousPassportNumber) ? "--" : Model.PreviousPassportNumber)</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
