﻿@model PassportApplicationCommon.Models.PaymentInformation

<div class="divheader">Payment Checks</div>

@{if (Model != null)
    {
        <div class="grayleftborder">
            <table>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.PaymentExist)
                    </th>
                    <td>
                        @Html.CheckBox("FoundPaymentCheckbox", Model.PaymentExist, new { @disabled = "disabled" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.FirstnameMatch)
                    </th>
                    <td>
                        @Html.CheckBox("FoundFirstnameCheckbox", Model.FirstnameMatch, new { @disabled = "disabled" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.SurnameMatch)
                    </th>
                    <td>
                        @Html.CheckBox("FoundSurnameCheckbox", Model.SurnameMatch, new { @disabled = "disabled" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.PaymentMatch)
                    </th>
                    <td>
                        @Html.CheckBox("MatchPaymentCheckbox", Model.PaymentMatch, new { @disabled = "disabled" })
                    </td>
                </tr>

            </table>
        </div>
    
        <div class="divheader">Payment Pricing</div>

        <div class="grayleftborder">
            <table>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.CalculatedBasePrice)
                    </th>
                    <td>
                        <div style="text-align:right; width:50px;">
                            @Html.DisplayFor(model => Model.CalculatedBasePrice)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.CalculatedAdditionalPrice)
                    </th>
                    <td>
                        <div style="text-align:right; width:50px;">
                            @Html.DisplayFor(model => Model.CalculatedAdditionalPrice)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.PaymentTotalPrice)
                    </th>
                    <td>
                        <div style="text-align:right; width:50px;">
                            @Html.DisplayFor(model => Model.PaymentTotalPrice)
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    }
}
