﻿@model PassportApplicationCommon.Models.PaymentInformation

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Enroll Payment Information</div>

        @using (@Html.BeginForm())
        {
            <div class="grayleftborder">
                <table>
                    <tr>
                        <th>
                            Application ID
                        </th>
                        <td>
                            <div class="labeltxt">@Model.ApplicationId</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.ReferenceNumber)
                        </th>
                        <td>
                            <div class="labeltxt">@Model.ReferenceNumber</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            First Name
                        </th>
                        <td>
                            <div class="labeltxt capitalize">@Model.Firstname.ToLower()</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Surname
                        </th>
                        <td>
                            <div class="labeltxt capitalize">@Model.Surname.ToLower()</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.DateOfBirth)
                        </th>
                        <td>
                            <div class="labeltxt">@(Model.DateOfBirth == DateTime.MinValue ? "" : Model.DateOfBirth.ToString("dd/MMM/yyyy"))</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.Gender)
                        </th>
                        <td>
                            <div class="labeltxt">@(Model.Gender == "M" ? "Male" : "Female")</div>
                        </td>
                    </tr>
                </table>
            </div>
        }

        <div id="PaymentValidationDiv">
            @Html.Partial("../Screening/_PaymentProcessScreening", Model)
        </div>
    </div>
</div>