﻿@model PassportApplicationCommon.Models.PersonalInformation

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Personal Information</div>
        @using (@Html.BeginForm())
        {
            <div class="grayleftborder">
                <table>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.Surname)
                    </th>
                    <td>
                        <div class="labeltxt capitalize">@Model.Surname.ToLower()</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.Firstname)
                    </th>
                    <td>
                        <div class="labeltxt capitalize">@Model.Firstname.ToLower()</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.Middlename)
                    </th>
                    <td>
                        <div class="labeltxt capitalize">@(string.IsNullOrEmpty(Model.Middlename) ? "--" : Model.Middlename.ToLower())</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.Gender)
                    </th>
                    <td>
                        <div class="labeltxt">@(Model.Gender == "M" ? "Male" : "Female")</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.DateOfBirth)
                    </th>
                    <td>
                        <div class="labeltxt">@(Model.DateOfBirth == DateTime.MinValue ? "" : Model.DateOfBirth.ToString("dd/MMM/yyyy"))</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.IdentityNumber)
                    </th>
                    <td>
                        <div class="labeltxt">@(string.IsNullOrEmpty(Model.IdentityNumber) ? "--" : Model.IdentityNumber)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.MaritialStatus)
                    </th>
                    <td>
                        <div class="labeltxt capitalize">@Model.MaritialStatusString.ToLower()</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => Model.MaidenName)
                    </th>
                    <td>
                        <div class="labeltxt capitalize">@(string.IsNullOrEmpty(Model.MaidenName) ? "--" : Model.MaidenName.ToLower())</div>
                    </td>
                </tr>
                @*  <tr>
                        <td>
                            @Html.LabelFor(model => Model.PreviousPassportNumber)
                        </td>
                        <td>
                            <div class="labeltxt">@Model.PreviousPassportNumber)
                            @Html.ValidationMessageFor(model => Model.PreviousPassportNumber)
                        </td>
                    </tr>*@
            </table>
            </div>
        }
    </div>
</div>