﻿@model PassportApplicationCommon.Models.PersonalFeatures

<div class="spaced">
    <div class="leftside shadow">
        <div class="divheader">Personal Features</div>

        @using (@Html.BeginForm())
        {
            <div class="grayleftborder">
                <table>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.ColourOfEyes)
                        </th>
                        <td>
                            <div class="labeltxt">@Model.ColourOfEyesString</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.ColourOfHair)
                        </th>
                        <td>
                            <div class="labeltxt">@Model.ColourOfHairString</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.HeightInCm)
                        </th>
                        <td>
                            <div class="labeltxt">@Model.HeightInCm</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.OtherInformation)
                        </th>
                        <td>
                            <div class="labeltxt">@(string.IsNullOrEmpty(Model.OtherInformation) ? "--" : Model.OtherInformation)</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.SpecialFeatures)
                        </th>
                        <td>
                            <div class="labeltxt">@(string.IsNullOrEmpty(Model.SpecialFeatures) ? "--" : Model.SpecialFeatures)</div>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>