﻿@model EPMSEnrollmentApplication.Models.PassportSearch
<div class="spaced lightgray" id="searchdiv">
    <div class="leftside shadow">
        <div class="divheader">Search For Application</div>
        @using (@Html.BeginForm())
        {
            <div class="grayleftborder">
                <table>
                    <tr>
                        <th>
                            @Html.LabelFor(model => Model.FormNumber)
                        </th>
                        <td>
                            @Html.EditorFor(model => Model.FormNumber)
                            @Html.ValidationMessageFor(model => Model.FormNumber)
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div class="genbutton left spacetopm" id="GetNextScreeningbtn">Get Next Application</div>
                            <div id="searchmsg" class="searchmsg left hidden">No application found matching your search</div>
                            <div class="genbutton right spacetopm" id="SearchScreeningbtn">Search</div>
                            <div id="screeningsearchload" class="loadingdiv right">
                                <div class="smallmodal">Searching</div>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>

@if (ViewBag.Msg == "1")
{
    <script type="text/javascript">
        $(function () {
            ShowPopup("Application Accepted");
        });
    </script>
}

@if (ViewBag.Msg == "2")
{
    <script type="text/javascript">
        $(function () {
            ShowPopup("Application Rejected");
        });
    </script>
}