﻿@model PassportApplicationCommon.Models.PassportApplication

<link rel="stylesheet" type="text/css" href="/content/page.css" />
<link rel="stylesheet" type="text/css" href="/content/inputs.css" />
<link rel="stylesheet" type="text/css" href="/content/screening.css">
<link rel="stylesheet" type="text/css" href="/content/select2/select2.css" />

@Html.Hidden("screeningformno", Model.FormNo) 
<div id="passportdetails" class="formdiv spacedownm">@(Html.Partial("_PassportDetailsScreening", Model.PassportInformation))</div>
<div id="paymentinfo" class="formdiv spacedownm">@(Html.Partial("_PaymentDetailScreening", Model.Payment))</div>
<div id="personaldetails" class="formdiv spacedownm">@(Html.Partial("_PersonalDetailsScreening", Model.PersonalInformation))</div>
<div id="contactdetails" class="formdiv spacedownm">@(Html.Partial("_ContactDetailsScreening", Model.ContactDetails))</div>
<div id="locality" class="formdiv spacedownm">@(Html.Partial("_LocalityScreening", Model.Locality))</div>
<div id="personalfeatures" class="formdiv spacedownm">@(Html.Partial("_PersonalFeaturesScreening", Model.PersonalFeatures))</div>
<div id="nokinfo" class="formdiv spacedownm">@(Html.Partial("_NextOfKinDetailsScreening", Model.NextOfKin))</div>

<div id="historicreports" class="formdiv spacedownm">@(Html.Partial("_HistoricPassports", Model.PreviousPassports))</div>
<div id="breederdocs" class="formdiv spacedownm">@(Html.Partial("_BreederDocuments", Model.BreederDocs))</div>

<div class="buttons">
    <div id="askreject" class="rejectbtn genbutton left red">Reject</div>
    <div id="acceptappbtn" class="genbutton right">Accept</div>
    <div id="saveformload" class="loadingdiv right">
        <div class="smallmodal"></div>
    </div>
    <div class="clear"></div>
</div>

@Html.Hidden("ScreeningApplicationId", Model.ApplicationId)
<div id="RejectMsg" class="PopupWindow">
    <div class="spacedown5">Select a rejection reason:</div>
    @Html.DropDownListFor(model => Model.RejectionReason, (SelectList)ViewData["RejectionReasons"], string.Empty, new { id = "rejectreasondropdown", @class = "chosen-select rejectreasons" })
    <div class="spacetop">Please give more details on you reason for rejecting this application:</div>
    <textarea id="rejectreason" class="spacedownm" style="margin-top: 5px;"></textarea>
    <div id="screeningrejecterr" class="error"></div>
    <div id="cancelrejectbtn" class="genbutton closeme left">Cancel</div>
    <div id="rejectappbtn" class="genbutton red right rejectbtn">Reject</div>
    <div class="clear"></div>
</div>

<script src="/scripts/select2.min.js" type="text/javascript"></script>
<script src="/scripts/screening.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.lightbox_me.js"></script>