﻿@model PassportApplicationCommon.Models.Address

<table>
    <tr>
        <th>
            @Html.LabelFor(model => model.AddressLine1)
        </th>
        <td>
            <div class="labeltxt">@Model.AddressLine1</div>
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.AddressLine2)
        </th>
        <td>
            <div class="labeltxt">@(string.IsNullOrEmpty(Model.AddressLine2) ? "--" : Model.AddressLine2)</div>
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.PostalCode)
        </th>
        <td>
            <div class="labeltxt">@(string.IsNullOrEmpty(Model.PostalCode) ? "--" : Model.PostalCode)</div>
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.City)
        </th>
        <td>
            <div class="labeltxt capitalize">@Model.City.ToLower()</div>
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.District)
        </th>
        <td>
            <div class="labeltxt capitalize">@(string.IsNullOrEmpty(Model.District) ? "--" : Model.District.ToLower())</div>
        </td>
    </tr>
    
    <tr>
        <th>
            @Html.LabelFor(model => model.Lga)
        </th>
        <td>
            <div class="labeltxt capitalize">@Model.Lga.ToLower()</div>
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.State)
        </th>
        <td>
            <div class="labeltxt capitalize">@Model.State.ToLower()</div>
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.Country)
        </th>
        <td>
            <div class="labeltxt capitalize">@Model.CountryName.ToLower()</div>
        </td>
    </tr>
</table>