﻿@using PassportApplicationCommon.Models
@model IEnumerable<Passport>
  
  <table>
    <tr>
        <td>
            <b>Authorisation Code</b> : 12345678
        </td>
    </tr>
    <tr>
        <td>
            The first document is the one that was searched for. <br />The other passports belonging to this entity is arranged by issue date.
        </td>
    </tr>
    <tr>
        <td class="passportlist">            
            @Html.Partial("_PassportCompareheaders")
            @foreach(var pPort in Model)
            {                
                @Html.Partial("_PassportCompareColumn", pPort)
            }
        </td>
    </tr>
  </table>
  


