﻿@model EPMSEnrollmentApplication.Models.PassportSearch

<link rel="stylesheet" type="text/css" href="/content/page.css" />
<link rel="stylesheet" type="text/css" href="/content/inputs.css" />
<link rel="stylesheet" type="text/css" href="/content/screening.css">

<div id="EnrolementDiv">
    <div id="passportdetails" class="formdiv spacedownm">@(Html.Partial("../Enrollment/SearchEnrollment", Model))</div>
    <div id="searchResultdiv" class="hidden"></div>
    <div id="PopupMsg" class="PopupWindow">
        <div class="closebtn">X</div>
        <div id="popupmsgInner" class="popupinfoinner bigfirstletter"></div>
    </div>

    <div id="RejectMsg" class="PopupWindow">
        <div>Please give a reason for rejecting this application:</div>
        <textarea id="rejectreason" class="spacedownm"></textarea>
        <div id="cancelrejectbtn" class="genbutton closeme left">Cancel</div>
        <div id="rejectappbtn" class="genbutton red right rejectbtn">Reject</div>
        <div class="clear"></div>
    </div>
</div>

<script src="/scripts/jquery.validate.js" type="text/javascript"></script>
<script src="/scripts/jquery.validate-vsdoc.js" type="text/javascript"></script>
<script src="/scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="/scripts/screening.js" type="text/javascript"></script>
<script src="/scripts/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.lightbox_me.js"></script>

@if (ViewBag.Msg == "1")
{
    <script type="text/javascript">
        $(function () {
            var msg = "Application Accepted";

            $('#popupmsgInner').html(msg);
            $('#PopupMsg').lightbox_me({
                centered: true
            });
        })
    </script>
}

@if (ViewBag.Msg == "2")
{
    <script type="text/javascript">
        $(function () {
            var msg = "Application Rejected";

            $('#popupmsgInner').html(msg);
            $('#PopupMsg').lightbox_me({
                centered: true
            });
        })
    </script>
}
