﻿<div id="screeningSuboptions" class="shadow">
    <div id="searchResultoptionsdiv" class="spacedown">
        <div class="divheader2 padded">Screening Steps</div>
        <div class="linkoption active spacetopm5">Enrollment</div>
        <div class="linkoptionsubheader" id="passportdetailslink">Passport Information</div>
        <div class="linkoptionsubheader" id="paymentinfolink">Payment</div>
        <div class="linkoptionsubheader" id="personaldetailslink">Personal Information</div>
        <div class="linkoptionsubheader" id="contactdetailslink">Contact Details</div>
        <div class="linkoptionsubheader" id="localitylink">Locality</div>
        <div class="linkoptionsubheader" id="personalfeatureslink">Personal Features</div>
        <div class="linkoptionsubheader" id="nokinfolink">Next Of Kin</div>

        <div class="linkoption active">Screening</div>
        <div class="linkoptionsubheader" id="historicreportslink">Historic Reports</div>
        <div class="linkoptionsubheader" id="breederdocslink">Breeder Documents</div>
    </div>
</div>
