﻿#validatePaymentload
{
    width: 110px;
    margin: 11px 7px 0px 7px;
}

.paymentamount
{
    text-align: right;
    width: 50px;
    display: inline-block;
    padding-top: 1px;
}

.disabled
{
    background: #f2f2f2;
    border: 1px solid #b8b8b8;  
    cursor: default !important;
}

.validatemsg
{
    padding: 17px 10px 0px 0px;
    color: red;
    font-size: 16px;
}

.searchmsg
{
    color: red;
    margin: 0px 15px 0px 0px;
}

.searchmsg2
{
    padding: 10px 15px 10px 220px;
    color: red;
}

#forminfodiv .labeltxt
{
    width: 65px;
    text-align: right;
}

#forminfodiv .labelval
{
    font-size: 16px;
    line-height: 19px;
}

#screeningsearchload
{
    margin: 2px 23px 0px 7px
}

.redtext
{
    color: red;
}

.textlabel
{
    width: 207px;
    text-align: right;
    padding-right: 10px;
    vertical-align: sub;
    padding-top: 3px;
    font-weight: bold;
}

.textvalue
{
    width: 680px;
}

#selectload
{
    margin: -2px 0px 0px 0px;
}

#selectload .smallmodal
{
    padding-left: 0px;
}

.uppercasefirst
{
    text-transform: capitalize;
}

.spaceright
{
    padding-right: 10px !important;
    padding-left: 0px !important;
}

.inline
{
    display: inline-block;
}

.sub
{
    vertical-align: sub;    
}

.info
{
    padding: 10px 0px 20px 0px;
    font-size: 16px;
    color: red;
}

.required:after 
{     
    content: "*";
    margin: 0px 0px 0px -9px;
    color: red;
}

.alignleft
{
    text-align: left;
}

.lefttext
{
    color: #333;
    width:125px;
    text-align: right;
    padding-right: 10px;
    display: inline-block;
    font-size: 14px;
}

.rejectionreasonlabel
{
    color: #369;
}

.rejectionreasontext
{
    font-size: 16px;    
}

.breederdocdiv label{
    display: none !important;
}

.correction
{
    padding: 5px 0px 0px 5px;
    color: red;
}

.stateserr
{
    display: none;
}