﻿.welcome
{
    display: table-cell;
    vertical-align: middle;
}

.rightside .title
{
    display: table-cell;
    vertical-align: middle;
}

.title2
{
    font-size: 58px;
    text-align: center;
    font-weight: bold;
    font-family: IrisUPC;
    color: darkgreen;
    padding: 0px 30px 0px 0px;
}

.title2 a
{
    color: #369;
    text-decoration: none;  
}