﻿/* Misc */

table
{
    width: 100%;
    border-collapse:separate;
    border-spacing:0 5px;
    padding-right: 80px;
    padding-top: 10px;
}

.formdiv
{
    background-color: #f9f9f9;
}

th
{
    width: 207px;
    text-align: right;
    padding-right: 10px;
    vertical-align: sub;
    padding-top: 3px;
}

tr.tablespacetop > td
{
    padding-top: 10px;
}

input[type="checkbox"] 
{ 
    margin-right: 10px; 
    vertical-align: middle;
    position: relative;
    bottom: -2px;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
    cursor: pointer;
}

.left
{
    float: left;  
}

.right
{
    float: right;  
}

.centered
{
    margin: 0px auto;    
}

.verticalmiddle
{
    display: inline-block;
    vertical-align: middle;
}

.graybg
{
    background-color: #f4f4f4;
}

.grayleftborder
{
    border-left: 1px solid #ccc;
    padding-bottom: 10px;
}

.padded
{
    padding: 10px;
}

.paddednotop
{
    padding: 0px 10px 10px 10px;
}

.table
{
    display: table;
    vertical-align: top;
    width: 100%;
}

.bigfirstletter:first-letter
{
    font-size: 23px;
    color: #2F7144;
}

.spaced
{
    padding: 5px;
}

.spacedown
{
    padding-bottom: 10px;
}

.spacedownx2
{
    padding-bottom: 20px;
}


.spacetop
{
    padding-top: 10px;
}

.spacetopx2
{
    padding-top: 20px;
}

.spaceleft
{
    padding-left: 10px;
}

.spaceleftx2
{
    padding-left: 20px;
}


.spacedownm
{
    margin-bottom: 10px;
}

.spacetopm5
{
    margin-top: 5px;
}


.spacetopm
{
    margin-top: 10px;
}

.spacetopmx2
{
    margin-top: 20px;
}

.clear
{
    clear: both;   
}

.relative
{
    position: relative;   
}

.absolute
{
    position: absolute;   
}

.slightRounded
{
    border-radius: 2px 2px 2px 2px; 
    -moz-border-radius: 2px 2px 2px 2px; 
    -webkit-border-radius: 2px 2px 2px 2px; 
	-khtml-border-radius:  2px 2px 2px 2px; 
}

.shadow
{ 
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  
}
   
.whitebg
{
    background-color: white;
}

.labeltxt
{
    color: #333;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 7px;
    line-height: 22px;
    font-size: 13px;
    font-weight: bold;
}

.labelval
{
    color: #2F7144;
    font-size: 18px;
    line-height: 22px;
}

.red
{
    background-color: red !important;
}

.blue
{
    color: #369 !important;
    font-weight: bold;
}
 
.hidden{
    display: none;
}

.field-validation-error {
    color: red;
    padding-top: 5px;
    padding-left: 5px;
    display: inline-block;
}

.loading .smallmodal {
    display: block;
}

.loadingdiv
{
    height: 35px;
    width: 90px;
    margin: 2px 7px 0px 7px;
    position: relative;
}

.smallmodal {
    display: none;
    text-align: center;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 35px;
    width: 45px;
    padding-left: 36px;
    font-size: 15px;
    line-height: 33px;
    font-weight: bold;
    background: transparent url('/images/loading.gif') 50% no-repeat;
}
