﻿.leftside
{
    width:18%;
    box-sizing: border-box;
    display:table-cell;
    min-width: 200px;
    vertical-align: top;
}

.rightside
{
    width: auto;
    box-sizing: border-box;
    display:table-cell;
    min-height: 400px;
    padding: 0px 5px 0px 10px;
    vertical-align: top;
}

.additionalinfo
{
    width:20%;
    padding-left: 5px;
    box-sizing: border-box;
    display:table-cell;
    min-width: 200px;
    vertical-align: top;
}


.divheaderspace {
  margin-top: 38px;
}


.divheader {
    background-color: #2F7144 !important;
    text-align: center;
    color: white !important;
    font-size:16px;
    padding: 5px 10px;
}

.divheader2 {
    background-color: #2F7144 !important;
    text-align: center;
    color: white !important;
    font-size:16px;
    padding: 5px 10px;
}

.leftside .divheader
{
    font-size: 16px;
    padding: 5px 7px !important;
    color: white;
}

.rightside .divheader
{
    font-size: 16px;
    color: white;
    padding: 5px 10px;
}

.rightside .division2 .label
{
    min-width: 145px;
}

.rightside .division1 {
  padding-bottom: 20px;
  padding-right: 25px;
}

.rightside .padded
{
    padding: 7px;
}

.divinfo
{
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f8f8f8;
    padding: 5px 7px 10px 7px;
}

.graytext
{
    color: #999;
    padding-bottom: 5px;
}

.greentext{
    color: #2D6D42;
    font-size: 15px;
    font-weight: bold;
}

.linkoption
{
    font-size: 14px;
    line-height: 24px;
    background: url(../Content/images/arrow3.png) 0px 5px no-repeat;
    opacity: 0.7;
    padding-left: 25px;
    margin-bottom: 7px;
    cursor: pointer;
}

.linkoption.active
{
    background: url(../Content/images/arrow2.png) 0px 5px no-repeat;
    font-weight: bold;
    opacity: 1;
    cursor: default;
}

.linkoption:hover
{
    color: #2F7144;
    opacity: 1;
}

.linkoptionsubheader
{
    padding-left: 20px;
    margin: 0px 0px 7px 20px;
    opacity: 0.5;
    background: url(../Content/images/x.png) 0px 4px no-repeat;
    cursor: pointer;
}

.linkoptionsubheader.active
{
    opacity: 1;
    background: none !important;
}

.linkoptionsubheader.complete
{
    background: url(../Content/images/tick.png) 0px 4px no-repeat;
    color: #2D6D42;
    font-weight: normal;
    opacity: 1;
}

.divtitle
{
    font-size: 18px;
    color: #2D6D42;
    background-color: #f8f8f8;
    padding: 7px 10px;
}

.division1only {
    width:100%;
}

.division1
{
    display: table-cell;
    width: 49%;
    padding-right: 30px;
}

.division2
{
    display: table-cell;
    width: auto;
}

.divisionbox
{
    margin: 10px 0px;
    display: table;
    width: 100%;
    margin: 7px 0px;
}

.division2 .divisionbox
{
    padding-right: 15px;
    box-sizing: border-box;
}

.contentTable 
{
    width:100%;
}

.contentTable th
{
    display:table-cell;
}

.contentTable td
{
    display:table-cell;
    text-align:left;
    width:100%;
}

.addressTable 
{
    width:100%;
    padding:0px;
    margin:0px;
    border-width:0px;
}

.addressTable tr
{    
    padding-right:0px;
    margin-right:0px;    
}

.addressTable td
{    
    padding-right:0px;
    margin-right:0px;
    width:100%;
}

.inactivebtn
{
    display: none
}

.buttons
{
    margin: 15px 0px;
    padding: 0px 5px;
}

.prevbtn
{
    
}

.nextbtn
{
    
}

.lightgray
{
    background-color: #f9f9f9;
}