﻿#screeningSuboptions.sticky 
{
    position: fixed;
    top: 5px;
    width: 207px;
    left: 4px;
}

.labeltxt
{
    font-size: 15px;
    display: inline-block;
}

th
{
    font-weight: normal;
}

.linkoption
{
    margin-bottom: 0px;
}

.linkoptionsubheader
{
    background: none;
    opacity: 1;
    margin: 0px 0px 0px 4px;
    padding: 3px 0px 5px 20px;
}

.linkoptionsubheader:hover
{
    background-color: #2F7144;
    color: white;
}

textarea
{
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
    background-color: #f4f4f4;
}

#screeningsearchload
{
    margin: 12px 23px 0px 7px
}


.searchmsg
{
    color: red;
    margin: 18px 15px 0px 10px;
}

.capitalize
{
    text-transform: capitalize;
}

.inline
{
    display: inline-block;
}

.sub
{
    vertical-align: sub;    
}

.passportlist
{
    vertical-align:top;
    overflow:hidden;
    white-space:nowrap;
}

.passportlist > table
{
    display:inline-block;
    vertical-align: top;
    border-spacing: 0px;
    border-collapse: separate;
    padding-top: 0px;
}

.passportlist td
{
    min-height: 30px;
    width: 100%;
    display: inline-block;
    line-height: 25px;
}

.passportlistheaders
{
    width: 140px;
    text-align: right;
    font-weight:bold;
    padding-right: 0px;
}

.passportlist tbody
{
    display: inline-block;
}

.CompareList
{
    width: 180px;
    display:inline-block;
    display: inline-table;
    vertical-align: top;
    padding-right: 15px;
    border-collapse: collapse; 
}

.red
{
    background-color: red;
}

.green
{
    background-color: Green;
}

.gray
{
    background-color: #4b5e58;
}

.maroon
{
    background-color: #b72235;
}

.blue
{
    background-color: #5badd5;
}

.rightspace
{
    padding-right: 10px !important;
}

.stagecode
{
    display: inline-block;
    color: White;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    white-space: normal;
    width: 185px;
}

#rejectreason
{
    height: 120px;
}

.select2-chosen
{
    font-size: 14px;
}

.spacedown5
{
    padding-bottom: 5px;
}

.error
{
    color: red;
    font-size: 13px;
    margin: -5px 0px 10px 0px;
}

.nomsg
{
    padding: 20px 10px;
    font-size: 16px;
}
