﻿    html {    
        color: #333;
        font-size: 14px;
        font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
        margin: 0;
        padding: 0;
        top:0;
        min-height:100%;    
    }
    
    #ContentDetail 
    {
        padding: 130px 0px 35px 0px;      
        position:absolute; 
        top:0; 
        bottom:0; 
    }
        
    .page
    {
        margin-left: auto;
        margin-right: auto;    
    }

    .content
    {
        margin: 0px auto;
        padding-top: 10px;
        width: 1170px;
        background-color: white;
        height: 100%;
    }

    /*header 
    {
        margin-top:-130px !important; 
        height:130px; 
        position: relative; 
        margin: 0px auto;
        margin-bottom: 30px;
    }
      
    .headerimage
    {        
        background: url(../Content/Images/banner-new.png);
        width: 1170px;
        height: 130px;
        position: relative;
        margin: 0px auto;
    }

    .headerlogo
    {
        background-image: url(../Content/Images/nis-logo.png);
        position: absolute;  
        background-size:cover;
        left: 17px;
        top: 0px;
        height: 110px;
        width: 111px;
    }*/

    #tabs-left 
    { 
        position: relative; 
        padding-left: 160px; 
    } 
    
    #tabs-left .ui-tabs-nav 
    { 
        position: absolute; 
        left: 0.25em; 
        top: 0.25em; 
        bottom: 0.25em; 
        width: 150px; 
        padding: 0.2em 0 0.2em 0.2em; 
    } 
    
    #tabs-left .ui-tabs-nav li 
    { 
        right: 1px; 
        width: 100%; 
        /*border-right: none; 
        border-bottom-width: 1px !important;*/ 
        /*-moz-border-radius: 4px 0px 0px 4px; 
        -webkit-border-radius: 4px 0px 0px 4px; 
        border-radius: 4px 0px 0px 4px;*/ 
        overflow: hidden; 
    }
     
    #tabs-left .ui-tabs-nav li.ui-tabs-selected, 
    #tabs-left .ui-tabs-nav li.ui-state-active 
    { 
        /*border-right: 1px solid transparent;*/ 
    } 
    
    #tabs-left .ui-tabs-nav li a 
    { 
        float: right; 
        width: 100%; 
        text-align: right; 
    }

    .breadcrumbCell 
    {
        display:block;
        /*float: left;*/
        width:160px;
        /*border:solid;*/
        /*border-width:thin;*/
        /*text-align:center;*/ 
        padding-left:10px;
    }

    .breadcrumbCell a
    {
        color:black;
    }

    .breadcrumbChild 
    {
        padding-left:25px;
        width:180px !important;
    }

    .breadcrumbError a
    {
        color:grey;
        /*background-color:red;*/
    }

    .breadcrumbWarning
    {
        /*background-color:orange;*/
    }

    .breadcrumbSuccess a
    {
        color:#333;
        /*background-color:lawngreen;*/
    }

    /*.menuLeft 
    {
        float:left;
    }

    .masterBody 
    {
        padding-left: 180px;
    }*/

th 
{
    width:18%;
    text-align:left;    
}