﻿<link rel="stylesheet" type="text/css" href="/Content/home.css" />
<div class="outertable welcomeimg">
    <div class="title2 welcome" style="font-size: 49px">Please log in via the <a href="http://localhost:1829/Login">Application Indexer</a></div>
</div>
<div id="PopupMsg" class="PopupWindow">
    <div class="closebtn">X</div>
    <div id="popupmsgInner" class="popupinfoinner bigfirstletter"></div>
</div>


<script type="text/javascript" src="~/Scripts/jquery.lightbox_me.js"></script>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        $('#popupmsgInner').html('<div class="errormsg">@ViewBag.ErrorMsg</div>');
        $(function () {
            $('#PopupMsg').lightbox_me({
                centered: true
            });
        });
    </script>
}